/* app css stylesheet */

.menu {
  list-style: upper-latin;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.tblSpan
{
  width:200px;
  height:auto;
  margin:20px 20px 20px 20px;

}

#place{
  border-style: solid;
  border-radius: 25px;
  background-color: #1ab188;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
}

a{
  padding-left: 20px;
  color:black;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h4{
  text-align: left;
}

h5{
  text-align: left;
  padding-left: 20px;
  color: #0f0f0f;

}